*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color:#020101

}

body{
  background-image: url(./Pro-img/forgot-img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.forgot_container{
    position: relative;
    backdrop-filter: blur(50px);
    width: 450px;
    border: 2px solid  var(--primary-color);
    padding: 4cm 2.5cm 4cm 2.5cm;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0,0.2);
    color: var(--second-color);


}

.forgot-tittle{
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    height: 70px;


}

.forgot-tittle span{
    color: var(--black-color);
    font-size: 1.5rem;
}

.forgot-tittle::before{
    content: "";
    top: 0;
    left: -30px;
    position: absolute;
    border-top-right-radius: 50px;
    width: 30px;
    height: 30px;
    box-shadow: 15px 0 0 0 var(--primary-color);
    
}

.forgot-input_wrapper{
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 20px 0;

}

.input_field{
    width: 100%;
    font-size: 1rem;
    height: 55px;
    color: var(--second-color);
    background: transparent;
    padding-inline: 20px 54px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    outline: none;
}

#user{
    margin-bottom: 10px;
}

.label{
    position: absolute;
    transition: 0.2s;
    top: 15px;
    left: 20px;
}

.input_field:focus~ .label,
.input_field:valid.label{
    position: absolute;
    font-size: 1rem;
    top: -10px;
    left: 20px;
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 0 10px;


}

.fa-lock,
.fa-user {
    position: absolute;
    font-size: 1.5rem;
    top: 18px;
    right: 25px;
}

.input-submit{
   background-color: aqua;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: 0.5s;

}


.input-submit:hover{
    background-color: aquamarine;
}

#resetMessage{
    padding: 20px;
    color: red;
    font-size: 1.5rem;
}

@media only screen  and (max-width: 564px){

    .main-container{
        padding: 20px;
    }

    .forgot_container{
        padding: 3.5cm 1.5cm 4cm 1.5cm;
    }
    
}




